<h3>Agregar Empleado</h3>
<hr class="bg-light"/>
<form (submit)="agregarEmpleado()" class="needs-validation bg-dark p-4 rounded" novalidate>
    <div class="mb-3">
        <label for="num" class="form-label text-light">Numero de empleado</label>
        <input type="text" class="form-control bg-secondary text-light border-light" id="num" placeholder="num" [(ngModel)]="empleado.num" name="num" required>
    </div>
    <div class="mb-3">
        <label for="nombre" class="form-label text-light">Nombre</label>
        <input type="text" class="form-control bg-secondary text-light border-light" id="nombre" placeholder="Nombre" [(ngModel)]="empleado.nombre" name="nombre" required>
    </div>
    <div class="mb-3">
        <label for="correo" class="form-label text-light">Correo</label>
        <input type="email" class="form-control bg-secondary text-light border-light" id="correo" placeholder="Correo" [(ngModel)]="empleado.correo" name="correo" required>
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label text-light">Teléfono</label>
        <input type="tel" class="form-control bg-secondary text-light border-light" id="telefono" placeholder="Teléfono" [(ngModel)]="empleado.telefono" name="telefono" required>
    </div>
    <div class="mb-3">
        <label for="fecha_nacimiento" class="form-label text-light">Fecha de nacimiento</label>
        <input type="date" class="form-control bg-secondary text-light border-light" id="fecha_nacimiento" placeholder="Fecha de nacimiento" [(ngModel)]="empleado.fecha_nacimiento" name="fecha_nacimiento" required>
    </div>
    <div class="mb-3">
        <div class="row">
            <div class="col-6">
                <label for="sexo" class="form-label text-light">Sexo: </label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sexo" id="sexo1" value="M" [(ngModel)]="empleado.sexo" required>
                    <label for="sexo1" class="form-check-label text-light">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sexo" id="sexo2" value="F" [(ngModel)]="empleado.sexo" required>
                    <label for="sexo2" class="form-check-label text-light">Femenino</label>
                </div>
            </div>
            <div class="col-6 d-flex align-items-end">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</form>
